<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="console" xsi:type="Console" layout="${message}" />
	  <target xsi:type="ColoredConsole"
          name="colouredConsole"
          useDefaultRowHighlightingRules="true"
          errorStream="false" />
	  <target name="exceptionLogger" xsi:type="ColoredConsole"
          useDefaultRowHighlightingRules="true"
          errorStream="false" 
		layout="${onexception:${exception:format=ToString,StackTrace}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="colouredConsole" />
    <logger name="*" minlevel="Error" writeTo="exceptionLogger" />
  </rules>
</nlog>
